<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.co.paypaycard.screening.creditcommon.mapper.T00101Mapper">

    <!-- 保管整理番号に一致するレコード取得 -->
    <select id="findByReceptionNumber" resultType="jp.co.paypaycard.screening.creditcommon.entity.db.T00001Entity">
        SELECT
            *
        FROM
            ppc.T00001
        WHERE
            reception_number = #{receptionNumber}
    </select>

</mapper>
